<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="highlightLogLevel" converterClass="commons.logs.HighlightLogLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %highlightLogLevel(%-5level) [%thread] %-40.40logger{36} : %highlightLogLevel(%msg%n)</pattern>
        </encoder>
    </appender>

    <property resource="application.yml" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${spring.application.name}/logs/${spring.application.name}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${spring.application.name}/logs/archive/${spring.application.name}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxHistory>10</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>100GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-40.40logger{36} : %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="org.springframework" level="INFO" />
    <logger name="myspringapp" level="DEBUG" />

<!-- HTTP REST-->
<!--    <logger name="sun.net.www.protocol.http.HttpURLConnection" level="ALL" />-->

</configuration>